#app-container {
  z-index: -1;

  background-position: 10% 10%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;

  display: grid;
  grid: 1fr / 1fr;

  position: relative;
}

.on {
  opacity: 1;
}

.off {
  opacity: 0;
}

#dark-background {
  position: fixed;
  z-index: -2;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(at 20% 20%, var(--gradient-1) 0%, var(--gradient-2) 50%, var(--gradient-3) 100%);
  transition: opacity 0.5s ease 0s;
}

#light-background {
  position: fixed;
  z-index: -2;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(at 20% 20%, var(--gradient-1) 0%, var(--gradient-2) 50%, var(--gradient-3) 100%);
  transition: opacity 0.5s ease 0s;
}

#content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 9vw;

  box-sizing: border-box;
  width: 100%;
}