#app-container {
  background: radial-gradient(at 20% 20%, var(--gradient-1) 0%, var(--gradient-2) 50%, var(--gradient-3) 100%);
  background-position: 10% 10%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid: 1fr 6fr/ 1fr;
}

