.slider-container {
    display: flex;
    align-items: center;
}

.sliderBtn {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    align-items: center;
    position: relative;
}