.featured-gcard {
    width: 100%;
    height: 100%;
    display: grid;
    grid: 1fr/ 2fr 1fr;
    background: rgba(128, 128, 128, 0.15);
    transition: background 0.3s ease 0s;

    box-shadow: 0px 0px 7px rgb(85, 85, 85);
}

.featured-gcard * {
    color: var(--text-color);
    transition: color 0.3s ease 0s;
}

.f-gc-img-container {
    background: rgba(0, 0, 0, 1);
    grid-area: 1/1/-1/2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    position: relative;
}

.f-gc-img-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease 0s;
}

.g-off {
    opacity: 0;
    z-index: -1;
}

.f-gc-info-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    overflow: hidden;
}

.f-gc-imgs-container {
    display: grid;
    grid: 1fr 1fr/ 1fr 1fr;
    width: 100%;
    height: auto;
}

.f-gc-info-container > h3 {
    font-size: min(2vw,4vh);
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
}

.f-gc-info-container img {
    width: 90%;
    height: auto;
    justify-self: center;
}

.g-pic-1, .g-pic-2 {
    margin-bottom: 10px;
    align-self: flex-end;
}

.f-gc-info-container > p {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: min(2vw,3vh);
}

.loading-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-div img {
    width: 10%;
    height: auto;
    filter: invert(var(--filter-var-opp));
    transition: filter 0.3s ease 0s;
}

@media screen and (max-width: 1200px) {
    .featured-gcard {
        width: 100%;
        height: 100%;
        display: grid;
        grid: 2fr 1.3fr/ 1fr;
        background: rgba(128, 128, 128, 0.15);
        transition: background 0.3s ease 0s;
    
        box-shadow: 0px 0px 7px rgb(85, 85, 85);
    }

    .f-gc-img-container {
        background: rgba(0, 0, 0, 1);
        grid-area: 1/1/2/-1;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    
        position: relative;
    }

    .f-gc-info-container {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    
        overflow: hidden;
    }

    .f-gc-imgs-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .f-gc-imgs-container > img {
        width: 20%;
        height: auto;
    }

    .f-gc-info-container > h3 {
        font-size: 4vw !important;
    }

    .f-gc-info-container > p {
        font-size: 3vw !important;
    }
}